<div class="about">
  <h1>ABOUT US</h1>
    <hr class="s-line">
    <hr class="l-line">
    <hr class="s-line">
  <div class="about-container">
    <p>Delivery is the process of transporting goods from a source location to a predefined destination. Cargo (physical goods) is primarily delivered via roads and railroads on land, shipping lanes on the sea, and airline networks in the air. Certain types of goods may be delivered via specialized networks, such as pipelines for liquid goods, power grids for electrical power and computer networks such as the Internet or broadcast networks for electronic information.[1] Car transport is a particular subgroup; a related variant is Autorack, which involves transport of autos by railroads.</p>
  </div>
</div>

