<div class="contact" id="contact">
  <h1>CONTACT US</h1>
  <hr class="s-line">
  <hr class="l-line">
  <hr class="s-line">
  <div class="contact-container">
    <div class="details">
      <div class="details-container">
        <h2>CONTACT DETAILS</h2>
        <img src="../../../assets/images/icons/address-icon-1752.png" alt="adrees img">
        <h4>No, 24 , Main Road, Colombo</h4>
        <img src="../../../assets/images/icons/email-icon-101.jpg" alt="email img">
        <h4>abxdeliver@gmailcom</h4>
        <img src="../../../assets/images/icons/mobile-icon-png-2365.png" alt="telephone img">
        <h4>+94 71 111 2222</h4>
        <img src="../../../assets/images/icons/phone-icon-932.png" alt="land img">
        <h4>+94 33 3456789</h4>
      </div>
    </div>

    <div class="send-message">
      <div class="send-message-container">
        <h2>SEND MESSAGE</h2>
        <form action="">
          <input type="text" name="name" id="name" class="email-contact" placeholder="Name">
          <input type="text" name="email" id="email" class="email-contact" placeholder="Email">
          <input type="text" name="subject" id="subject" placeholder="Subject">
          <input type="text" name="message" id="message" placeholder="Message">
          <input type="button" value="SEND" id="button">
        </form>
      </div>
    </div>
  </div>
</div>
